A,C,C,A,C
B,A,C

In [6]:
# 1. 以下程序的功能是对随机产生的 1～100 之间的一个整数 n，利用二分法查找这个数并输出查找的次数。
import random
import math

from pygame.examples.video import driver

n = random.randint(1, 100)  # 函数 random.randint(a,b) 返回从 a 到 b 之间随机选出的一个整数
a, b, cnt = 1, 100, 0
while True:
    cnt += 1
    m = math.ceil((a + b) / 2)  # 函数 math.ceil(x) 的返回值为数值 x 的向上取整
    if n < m:
        b = m - 1
    elif n == m:
        print("找到了：",m)
        break
    else:
        a = m+1
print(cnt)

找到了： 36
5

In [14]:
# 2. 以下程序读入正整数 n，计算
#  S = 1! − 2! + 3! − 4! + 5! − …… ± n!
#  并输出。请在横线上填写代码。
n = int(input())
S = 0
sign = 1
k = -1
for i in range(1,n+1):
    k = k * (-1)
    S += sign * k
    sign = (i+1) * sign
print(S)

-19

In [122]:
#  3. 下面程序中的 Change 函数的功能是将十进制数转化 N 进制数（2 <= N <= 16）。
#  输入目标进制和待转换的数，函数返回转换后的目标进制数。
#  请在横线上填写代码并给出程序的输出结果。
def Change(radix, num):
    g = []
    while num != 0:
        r = num % radix
        num = num // radix
        g.append(r)
    ans = ''
    t = ('A', 'B', 'C', 'D', 'E', 'F')
    for x in range(len(g)):
        if g[x] >= 10:
            ans += t[x]
        else:
            ans += str(g[x])
    return ans
print(Change(16, 12455))

7B03

In [46]:
# 4.给定一个整数的数字列表 L，判断 L 中是否存在相同数字，若存在返回 True，否则返回 False。

def identical(L):
    flag = 0
    L.sort()
    for i in range(len(L)):
        if L[i-1] == L[i]:
            flag = 1
            break
    if flag:
        return True
    else:
        return  False

In [49]:
# 5. 程序填空。一个列表 a 中记录了连续多天的营业额，求其中最长的**连续增长（不含相等）**的子序列的长度。
#  例如 [5, 1, 2, 3, 5, 9, 6, 7, 4, 6, 8] 中最长的连续增长（不含相等）的子序列长度是 5（即 [1, 2, 3, 5, 9] 的长度）。

a = [5, 1, 2, 3, 5, 9, 6, 7, 4, 6, 8]
maxlen = 1
n = 1
for i in range(1, len(a)):
    if a[i-1]<a[i]:
        n += 1
        if maxlen < n:
            maxlen = n
    else:
        n = 1
print(maxlen)

5

In [63]:
# 你获得了一组包含出租车司机及其乘车信息的数据集,对这些数据进行一些基本分析，并将结果保存到一个 CSV 文件中。

# ●从 drivers.csv 文件中计算 rating 列的平均值。
# ●将结果保存为：
# ○insight_type: "average_driver_rating"
# ○value: 计算出的平均评分
import pandas as pd
import numpy as np
driver = pd.read_csv("./driver.csv")
driver

    driver_id  age second_language  rating
0        1000   39             NaN     4.7
1        1001   33         Spanish     4.1
2        1002   41          German     4.6
3        1003   50         Russian     4.9
4        1004   32         Spanish     4.0
..        ...  ...             ...     ...
75       1075   43         English     4.7
76       1076   35          French     4.4
77       1077   32         English     4.7
78       1078   35             NaN     4.3
79       1079   21             NaN     4.4

[80 rows x 4 columns]

In [89]:
r1 = pd.read_csv(f"./rides_1.csv")
r2 = pd.read_csv(f"./rides_2.csv")
r3 = pd.read_csv(f"./rides_3.csv")
r4 = pd.read_csv(f"./rides_4.csv")
r_final = pd.concat([r1,r2,r3,r4],axis=0)
r_final

    ride_id  driver_id  passenger_id              date status
0     10000       1008          2177  2025-09-25 08:23     成功
1     10001       1059          2335  2025-09-25 03:04     成功
2     10002       1019          2350  2025-08-03 05:37     成功
3     10003       1011          2341  2025-07-13 18:43     成功
4     10004       1008          2035  2025-07-19 23:16   乘客取消
..      ...        ...           ...               ...    ...
27    13027       1002          2060  2025-07-26 05:29   乘客取消
28    13028       1068          2096  2025-08-02 06:21   司机拒载
29    13029       1014          2059  2025-07-19 16:27     成功
30    13030       1016          2267  2025-09-07 11:26     成功
31    13031       1063          2381  2025-06-29 22:44   司机拒载

[172 rows x 5 columns]

In [85]:
# 从 drivers.csv 文件中计算 rating 列的平均值。
average_driver_rating = driver["rating"].mean()
# 计算拥有第二语言的司机的比例（即 second_language 不为 "no" 的司机占总司机数的百分比）。
percentage_drivers_with_second_language = driver["second_language"].count() / driver["driver_id"].count()
# 计算成功乘车（即 status == "Success"）的比例。
ride_success_rate = (r_final["status"] == "成功").sum() / r_final["ride_id"].count()

In [92]:
# average_driver_rating = average_driver_rating
# average_driver_rating
dict = {"insight_type": ["average_driver_rating","percentage_drivers_with_second_language","ride_success_rate"],"value":[average_driver_rating,percentage_drivers_with_second_language,ride_success_rate]}
output = pd.DataFrame(dict)
output.to_csv("./analysis_results.csv")

1.简述 Batch Normalization 的基本原理与作用。
批量归一化是指将数据整体做归一化，归一化之后能够更好的你和数据不会因为数据大而导致权重大的问题出现

2.什么是 Dropout？它在深度神经网络训练中的作用是什么？
在训练的过程中随机丢弃一部分数据进行训练，主要作用是增加数据的随机性


3.解释梯度裁剪的概念及其在训练过程中的作用。
梯度裁剪分为两种：一种是将超出的数据裁剪到最大限制数；另一种是将数据整体缩放到指定的区域内。主要用于防止梯度爆炸


4.什么是早停？为什么它能防止过拟合？
早停：数据在训练过程中损失下降不明显就停止训练，过拟合是多次重复的训练一种数据，从而使模型不具有普遍性能，说明在出现过拟合的时候训练的损失下降就已经不在明显变化。


5.数据增强（Data Augmentation）在训练过程中的意义是什么？请举例说明。
数据增强能够增加数据的多样性。例如：训练数据都是直立的花，那么训练完成后模型可能不会认识倒立或者侧立的花，通过数据增强技术可以避免这样的情况发生。


6.什么是梯度消失？ 为什么会出现？ 有哪些解决办法？
梯度消失：在训练过程中随着层数的增加，梯度逐渐减小，最终导致消失
因为激活函数无限趋近于0
解决办法：选择核初始化函数和优化器、梯度裁剪、

7.什么是学习率调度？有什么好处？
学习了调度：在训练模型的过程中如果损失下降缓慢或过快，通过调整学习率使数据更够得到更好的拟合。
能够加快收敛速度，收敛到一个较好的值

In [107]:
# 假设我们用 60 天的价格预测第 61 天价格
time_steps = 60
features = 1
samples = 200

# 构造输入数据 (samples, time_steps, features)
x_train = np.random.rand(samples, time_steps, features)  # 200个 60天股票价格
y_train = np.random.rand(samples, 1)                     # 200个 对应的第61天股票价格
x_test  = np.random.rand(10, time_steps, features)       # 测试数据

In [113]:
import tensorflow as tf
stock_model = tf.keras.Sequential([
    tf.keras.layers.LSTM(4, input_shape=(None,1),return_sequences=True),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.LSTM(4),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(1)
])

In [118]:
stock_model.compile(loss="mean_squared_error",optimizer="adam")
stock_model.fit(x_train,y_train,epochs=5, batch_size=16, verbose=0)

In [115]:
stock_model.summary()

Model: "sequential_15"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_31 (LSTM)              (None, None, 4)           96

 dropout_21 (Dropout)        (None, None, 4)           0

 lstm_32 (LSTM)              (None, 4)                 144

 dropout_22 (Dropout)        (None, 4)                 0

 dense_15 (Dense)            (None, 1)                 5

=================================================================
Total params: 245 (980.00 Byte)
Trainable params: 245 (980.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [119]:
stock_model.predict(x_test)

1/1 [==============================] - 2s 2s/step

array([[0.28686103],
       [0.28506708],
       [0.29372355],
       [0.2923032 ],
       [0.29217216],
       [0.28664857],
       [0.28571394],
       [0.2860417 ],
       [0.28578448],
       [0.28862602]], dtype=float32)